.entete{
    position: relative;
    display: inline-block;
    margin-bottom: 5%;
}

.entete img{
    display: block;
    width: 100%;
    opacity: 0.5;
}

.entete .texteEntete{
    position: absolute;
    top: 10%;
    margin-left: 5%;
}

h1{
    font-size: 5rem;
    text-align: center;
}

.prix{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.transparent{
    color: transparent;
}

.prix h2{
    font-size: 3rem;
}

.prix p{
    font-size: 1.5rem;
}

.affiche{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 5%;
}

article{
    display: flex;
    flex-direction: column;
    text-align: center;
}

article > img{
    width: 90%;
}

article > h3{
    font-size: 2rem;
}

article > p{
    font-size: 1.5rem;
}